@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-button {
  @apply font-semibold text-black bg-gradient-to-r from-[#00ffbb] to-[#03ffff]          shadow-[0_0_5px_#00ffcc]  hover:shadow-[0_0_10px_#00ffcc] transition-all duration-300;
}
